APP_ENV=development
APP_HOST=127.0.0.1
APP_PORT=8000

CORS_ORIGINS=http://localhost:5173
MAX_UPLOAD_SIZE_MB=20

OPENSSL_BIN=openssl

SIGNING_PRIVATE_KEY_PATH=./secrets/claim-signing-private.pem
TSA_PRIVATE_KEY_PATH=./secrets/tsa-private.pem
ROOT_CA_CERT_PATH=./certs/root-ca.pem